/*
* Main Styles
*/
body {
	background: url("https://raw.githubusercontent.com/jasdeepsingh/beameup-web/master/images/main.background.jpg") no-repeat center top;
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	color: #fff;
	font: 20px/32px 'Open Sans' sans-serif;
}

/*
* Container
*/
.container {
	padding: 30px;
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

/*
* Logo
*/
.logo { max-width: 300px; margin: 0 auto; }
.logo img { max-width: 100%; }

/*
* Slogan
*/
.slogan { max-width: 420px; margin: 0 auto; }
.slogan img { max-width: 100%; }

/*
* Buttons
*/
.buttons {
	margin: 0 0 60px 0;
}
.buttons .button {
	margin: 10px 0;
	display: block;
	max-width: 100%;
}
.buttons .button img { max-width: 100%; }

/*
* Bottom
*/
.divider {
	height: 1px;
	background: rgba(255,255,255,0.3);
	border-top: 1px solid rgba(0,0,0,0.3);
}
.bottom { background: rgba(13,67,80,0.2); }
.bottom .phones {
	margin-top: -70px;
	max-width: 100%;
}
.bottom .phones img { max-width: 100%; }
.bottom p {
	margin: 0 0 150px 0;
	padding: 0;
	font-weight: 300;
}
